{% load static %}
<style>
    #dropdown {
        min-width: 20px; /* Ancho mínimo para el menú desplegable */
    }

    #editar, #eliminar {
        cursor: pointer;
    }

    #editar:hover {
        color: #03204dff;
    }

    #eliminar:hover {
        color: #250004ff;
    }
   
</style>

<div class="col">
    <div class="card h-100 shadow-sm border-0 rounded-3 card-hover">
        <div class="card-body d-flex flex-column">
            <div class="dropdown position-absolute top-0 end-0 mt-2 me-2">
                <a class="btn" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="bi bi-three-dots-vertical"></i>
                </a>

                <ul id="dropdown" class="dropdown-menu">
                    <li>
                        <a id="editar" class="dropdown-item text-info" href="{% url 'editar' nota.id %}">
                            <i class="bi bi-pencil-square me-2"></i>
                        </a>
                    </li>
                    <li>
                        <a id="eliminar" class="dropdown-item text-danger" href="#">
                            <i class="bi bi-trash-fill me-2"></i>
                        </a>
                    </li>
                </ul>
            </div>

            <a href="{% url 'detalle' obj.id %}" class="card-link text-decoration-none">
                <h5 class="card-title fw-bold text-truncate">{{ obj.titulo|truncatewords:3 }}</h5>
                <p class="card-text text-muted mb-auto">{{ obj.contenido|truncatewords:10 }}</p>
            </a>
        </div>

        <div class="card-footer bg-light border-0 pt-0">
            <small class="text-body-secondary d-block text-end">
                <i class="bi bi-calendar me-1"></i> {{ obj.fecha_creacion|date:"Y-m-d" }}
            </small>
        </div>
    </div>
</div>