{% extends "base/head.html" %}

{% block content %}
<h1 class="text-danger">Eliminar Nota</h1>
<p class="text-info">¿Estás seguro de eliminar la siguiente nota?</p>

<div class="card p-3 mb-3 bg-secondary bg-opacity-1">
    <h2 class="">{{ nota.titulo }}</h2>
    <p>{{ nota.contenido }}</p>
</div>

<form method="post">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger">Eliminar</button>
    <a href="{% url 'index' %}" class="btn btn-secondary">Cancelar</a>
</form>
{% endblock content %}